<div class="workflow_execution">
    <tr>
        <th>
            <%= link_to "#{workflow_execution.id}", workflow_execution_path(workflow_execution), class: "link" %>
        </th>
        <td>
            <div class="text opacity-70"><%= workflow_execution.workflow.name %></div>
        </td>
        <td>
            <%= link_to workflow_execution.data_source.name, data_source_path(workflow_execution.data_source), class: "link" %>
        </td>
        <td>
            <div class="text opacity-70"><%= workflow_execution.rows.count %></div>
        </td>
        <td>
            <div class="text opacity-70">
                <%= workflow_execution.workflow.connection.name %>
            </div>
        </td>
        <td> <div class="text opacity-70"><%= workflow_execution.started_at&.iso8601 %></div> </td>
        <td> <div class="text opacity-70"><%= workflow_execution.completed_at&.iso8601 %></div> </td>
        <td>
            <div class="badge badge-sm uppercase font-bold badge-<%= execution_status_color(workflow_execution.status) %>"><%= workflow_execution.status %></div>
        </td>
    </tr>
</div>
